/* CSS files add styling rules to your content */
#content{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 200px 200px 200px ;
  grid-gap: 10px;
  
    
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
#card1{
   border: 5px solid ;
   border-color: red green blue yellow;
}
#card2{
   border: 5px dotted ; 
  border-color: tomato orange slateblue yellow;
}
#card3{
   border: 5px solid ; 
  border-color: darkturquoise deepskyblue dodgerblue cornflowerblue;
}
#card4{ 
  border: 5px dotted ;
  border-color: palevioletred pink plum salmon;
}
#card5{
border: 5px solid ;
  border-color: bisque burlywood gold goldenrod;
}
#card6{
   border: 5px dotted;
  border-color: mediumorchid mediumpurple mediumslateblue orchid
}
#card7{
   border: 5px solid;
  border-color: tomato orange slateblue yellow;
}
#card8{
   border: 5px dotted;
  border-color: darkturquoise deepskyblue dodgerblue cornflowerblue;
}
#card9{ 
  border: 5px solid ;
  border-color: palevioletred pink plum salmon;
}
#search{
  
}