/* CSS files add styling rules to your content */
#content{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 200px 200px 200px ;
  grid-gap: 10px;
  
    
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background:  linear-gradient(to right, #FFFFFF, #FFFF00)
}

h1 {
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  
}
#card1{
   border: 5px solid ;
   border-color: red green blue yellow;
 width: 200px;
  height: 200px;
  background-color: none;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 1s;

}
@keyframes example {
   0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
#card2{
   border: 5px dotted ; 
  border-color: tomato orange slateblue yellow;
  width: 200px;
  height: 200px;
  background-color: none;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 5s;
}
@keyframes example {
   0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
#card3{
   border: 5px solid ; 
  border-color: darkturquoise deepskyblue dodgerblue cornflowerblue;
  width: 200px;
  height: 200px;
  background-color: none;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 9s;
}
@keyframes example {
   0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
#card4{ 
  border: 5px dotted ;
  border-color: palevioletred pink plum salmon;
}
#card5{
border: 5px solid ;
  border-color: bisque burlywood gold goldenrod;
}
#card6{
   border: 5px dotted;
  border-color: mediumorchid mediumpurple mediumslateblue orchid
}
#card7{
   border: 5px solid;
  border-color: tomato orange slateblue yellow;
}
#card8{
   border: 5px dotted;
  border-color: darkturquoise deepskyblue dodgerblue cornflowerblue;
}
#card9{ 
  border: 5px solid ;
  border-color: palevioletred pink plum salmon;
}
#search{
  color: white;
  font-family: "Rubik", sans-serif;
  text-align: center;
  
  display: block;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 30px;
  background: black;
}
.container{
  background:  linear-gradient(to right, #FFFFFF, #FFFF00);

}
.jumbotron{
  background:  linear-gradient(to right, #FFFFFF, #FFFF00);

}
.navbar{
  background:  linear-gradient(to right, #FFFFFF, #FFFF00);
}